[submodule "parent-pom"]
	path = parent-pom
	url = git@github.com-hvantran:hvantran/parent-pom.git
[submodule "deployment"]
	path = deployment
	url = git@github.com-hvantran:hvantran/deployment.git
[submodule "ee-environment"]
	path = ee-environment
	url = git@github.com-hvantran:hvantran/ee-environment.git
[submodule "base-platform"]
	path = base-platform
	url = git@github.com-hvantran:hvantran/base-platform.git
[submodule "account-platform"]
	path = account-platform
	url = git@github.com-hvantran:hvantran/account-platform.git
[submodule "e-commerce"]
	path = e-commerce
	url = git@github.com-hvantran:hvantran/e-commerce.git
[submodule "services/template-management-app"]
	path = services/template-management-app
	url = git@github.com-hvantran:hvantran/template-management-app.git
